body{
    background-image: url(/images/d2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#nav{
    color: rgba(252, 239, 239, 0.815);
    background-color: rgba(11, 12, 14, 0.671);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#brand{
    width: 8%;
    height: 8%;
}
#bt{
    color:black;
    background-color: white;
}
#bt:hover{
    
    
    font-weight: bold;
}